<div class="container">
    
    <div class="row">
        
        <%= render 'book', user: @user, book: @book %>
        
        <div class="col-md-8 offset-md-1">
            <h2>Books</h2>
            <%= render 'index', books: @books %>
        </div>
    </diV>

</div>